/* CSS RESET || */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES || */
:root {
    --primary-clr: #381d1f;
    --header: #A50519;
    --border-clr: #A50519;
    --main-text-clr: rgb(255, 254, 254);
    --bg: #faebd7;
    --cards: rgb(254, 253, 253);
    --light-txt-clr: rgb(148, 148, 148);
}

/* BASIC STYLING || */
body {
    background-color: var(--bg);
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aleo', serif;
    font-family: 'Lato', sans-serif;
}

/* HEADER || */
.header {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-clr);
    font-weight: 700;
    box-shadow: 5px 6px 13px -1px rgba(0,0,0,0.17);
    gap: 50px;
}

h1 {
    font-size: 72px;
    color: var(--main-text-clr);
}

#new-book-btn {
    appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    /* height: 40px; */
    padding: 10px;
    width: 200px;
    font-weight: bold;
    background-color: var(--header);
    color: var(--main-text-clr);
}

/* MAIN CONTAINER || */
#container {
    min-width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


/* BOOK CONTAINER || */
#book-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}


/* BOOK CARD || */
.book-card {
    /* height: 100px; */
    background-color: var(--main-text-clr);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    gap: 10px;
    border-radius: 20px;
    padding: 10px; 
    box-shadow: 5px 6px 13px -1px rgba(0,0,0,0.17);
    overflow-wrap: break-word;
}

.book-card h4,
.book-card p {
    text-align: center;
    font-size: 30px;
}

.book-card button {
    appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    height: 40px;
}

/* DIALOG || */
#dialog {
    border: none;
    border-radius: 20px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

#main-form {
    padding: 5px;
}

.form-div {
    padding: 10px;
    font-size: 25px;
}

.form-div input {
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    padding: 5px;
}

.close-btn {
    appearance: none;
    background-color: var(--header);
    color: white;
    border-radius: 50px;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: 800;
    font-size: 14px;
    padding: 8px;
}

#confirm-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#confirm-div button {
    appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    height: 40px;
}